<template name="insertPlayers">
    <form>
        <div class="form-group">
            <label for="squadNumber">Númer</label>
            <input type="text" class="form-control" name="squadNumber" id="squadNumber" placeholder="Númer">
        </div>
        <div class="form-group">
            <label for="firstName">Fornafn</label>
            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Fornafn">
        </div>
        <div class="form-group">
            <label for="lastName">Eftirnafn</label>
            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Eftirnafn">
        </div>
        <button type="submit" class="btn btn-primary">Bæta við leikmanni</button>
    </form>
</template>
