<template name="insertGames">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="homeTeam">Heimalið</label>
                    <input type="text" class="form-control" name="homeTeam" id="homeTeam" placeholder="">
                </div>
                <div class="form-group">
                    <label for="awayTeam">Útilið</label>
                    <input type="text" class="form-control" name="awayTeam" id="awayTeam" placeholder="">
                </div>
                <div class="form-group">
                    <label for="stadium">Staðsetning</label>
                    <input type="text" class="form-control" name="stadium" id="stadium" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary">Staðfesta</button>
            </form>
        </div>
    </div>
</template>
