<template name="editPlayers">
    <form>
        <div class="form-group">
            <label for="squadNumber">Númer</label>
            <input type="text" class="form-control" id="squadNumber" placeholder="Fornafn" value="{{squadNumber}}">
        </div>
        <div class="form-group">
            <label for="firstName">Fornafn</label>
            <input type="text" class="form-control" id="firstName" placeholder="Fornafn" value="{{firstName}}">
        </div>
        <div class="form-group">
            <label for="lastName">Eftirnafn</label>
            <input type="text" class="form-control" id="lastName" placeholder="Eftirnafn" value="{{lastName}}">
        </div>
        <button type="submit" class="btn btn-success">Staðfesta breytingar</button>
    </form>
</template>
