<template name="login">
    <div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Vinsamlega skráið ykkur inn!</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form>
              <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Félag" name="team" type="team" autofocus>
			    		  </div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Lykilorð" name="password" type="password" value="">
			    		</div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Áfram">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
  <img class="loginImage" src="/images/Lógó.png" />
</div>
</template>
